<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Список джазовых стандартов</title>
</head>
<body>
    <h1>{{ user.name }}!</h1>
    <h2>Ваши джазовые стандарты:</h2>
    {# standards is a dict of style: [standards] #}
    {% for style, standards in standards.items() %}
    <h3>{{ style }}</h3>
    <ul>
        {% for standard in standards %}
        <li>{{ standard.title }} ({{ standard.composer }})</li>
        {% endfor %}
    </ul>
    {% endfor %}
    <br>
    <h2>Добавить новый стандарт:</h2>
    <form id="addStandardForm" action="/add_standard/" method="post">
        <label for="title">Название</label>
        <input type="text" id="title" name="title" required>
        <label for="composer">Композитор</label>
        <input type="text" id="composer" name="composer" required>
        <label for="style">Стиль</label>
        <select id="style" name="style">
            {% for style in styles %}
            <option value="{{ style }}">{{ style }}</option>
            {% endfor %}
        </select>
        <button type="submit">Добавить</button>
</body>
</html>